*{
    margin:0;
    padding:0;
}
.section{
    margin:0px;
    height:1100px;
    width:100%;
    float:left;
    
}
.sectiontwo{
    margin:0px;
    bottom:0px;
    width:4000px;
    float:left;
    height:100%;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:540px;
}
.black{
    color:#000;
    background:#EAFFA9;
}
.white{
    color:#000;
    background:#fff;
}

.section ul{
    list-style:none;
    margin:-25px -100px 0px 550px;
	position: absolute;
	z-index: 999;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}